<launch>

    <include file="$(find patchworkpp)/launch/demo.launch" />

    <node pkg="lidar_cone_detection" type="euclidean_clustering_node" name="euclidean_clustering" output="screen" >
        <rosparam command="load" file="$(find lidar_cone_detection)/config/lidar_clustering.yaml" />
    </node>
    
    <node pkg="lidar_cone_detection" type="pointnet_recognition.py" name="PointNetRecognition"  output="screen" >
        <rosparam command="load" file="$(find lidar_cone_detection)/config/pointnet.yaml" />
    </node>

</launch>