<launch>
    <node pkg="rosbag" type="play" name="rosbag" args="-l $(find lidar_cone_detection)/rviz/lidar1.bag" />

    <include file="$(find patchworkpp)/launch/demo.launch" />

    <node pkg="lidar_cone_detection" type="euclidean_clustering_node" name="euclidean_clustering" output="screen" >
        <rosparam command="load" file="$(find lidar_cone_detection)/config/lidar_clustering.yaml" />
    </node>
    
    <node pkg="lidar_cone_detection" type="pointnet_recognition.py" name="PointNetRecognition"  output="screen" >
        <rosparam command="load" file="$(find lidar_cone_detection)/config/pointnet.yaml" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_cone_detection)/rviz/lidar.rviz" />

</launch>