<launch>

   <arg name="use_sim" default="False" />

   <!-- <group if="$(arg use_sim)"> -->

    <rosparam command="load" file="$(find patchworkpp)/config/params.yaml" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchworkpp)/rviz/demo.rviz"/> -->
    <node name="$(anon demo)" pkg="patchworkpp" type="demo" output="screen">
        <rosparam param="/cloud_topic">"/ouster/points"</rosparam>
        <!-- <remap from="fsds/Lidar1" to="/ouster/points"/> -->
    </node>

</launch>
